.about-body{
    background-color: rgb(11, 11, 44);
}
.about{
    padding: 8px;
    background-color: orangered;
}
.about-section{
    padding-top: 10px;
    box-shadow: 0px 0px 15px 5px rgb(15, 15, 73);
    width: 100%;
}
.about-section h1{
    padding: 20px;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.about-container{
    padding: 20px 80px;
    display: flex;
}
.about-desc{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.info{
    margin-bottom: 25px;
}
.info h3{
    font-size: 22px;
    color: white;
}
.info p{
    margin-top: 5px;
    font-size: 16;
    color: rgba(236, 224, 224, 0.954);
    text-align: justify;
}